<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Chat Customer</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='style.css')}}">

</head>

<body>

<div class="container">

<div class="card">

<h2>Chat Customer</h2>

{% if chat_list %}

{% for chat in chat_list %}

<div class="chat-admin-card">

<h3>

{{ chat.order.customer_name }}

</h3>

<p>

<b>Resi :</b>

{{ chat._id }}

</p>

<p>

<b>Produk :</b>

{{ chat.order.product_name }}

</p>

<p>

{{ chat.last_message }}

</p>

{% if chat.unread > 0 %}

<span class="unread-badge">

{{ chat.unread }} Pesan Baru

</span>

{% endif %}

<br><br>

<a
class="btn-primary"
href="/admin/chat/{{ chat._id }}">

Buka Chat

</a>

</div>

{% endfor %}

{% else %}

<p>

Belum ada chat.

</p>

{% endif %}

</div>

</div>

</body>

</html>